@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Unbounded';
    src: url('../fonts/Unbounded-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}